

 <div id="mobile-sticky-bar" class="mobile-sticky-bar">
  <div class="sticky-bar__content">
    <div class="sticky-bar__content-info">
    <img
      src="{{ product.featured_image | image_url: width: 60, height:60 }}"
      alt="{{ product.title }}"
      class="sticky-bar__image"
    >

    <div class="sticky-bar__info">
      <div class="sticky-bar__title p">{{ product.title }}</div>

      <div class="sticky-bar__price">
        <span class="actual-price">
          {{ product.selected_or_first_available_variant.price | money }}
        </span>
        {% if product.selected_or_first_available_variant.compare_at_price
            > product.selected_or_first_available_variant.price
        %}
          <span class="price-item--regular">
            <s>{{ product.selected_or_first_available_variant.compare_at_price | money }}</s>
          </span>
        {% endif %}
      </div>
    </div>
    </div>
    <button type="button" class="button sticky-bar__button">
      {{ 'products.product.add_to_cart' | t }}
    </button>
  </div>
</div>

<style>
  .mobile-sticky-bar .sticky-bar__content {
    display: flex;
    align-items: center;
    gap:5px;
    justify-content: flex-start;
    color: #fff;
    padding: 10px;
    background-color: #000;
  }
  .mobile-sticky-bar .sticky-bar__content img {
    border-radius: 5px;
  }
  .mobile-sticky-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;

    /* transition styles */
    opacity: 0;
    transform: translateY(100%);
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .mobile-sticky-bar.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  .mobile-sticky-bar .sticky-bar__button{
    border:1px solid #fff;
    padding: 5px 10px;
    min-height: 40px;
    {% comment %} max-width:max-content; {% endcomment %}
  }

  .mobile-sticky-bar .sticky-bar__info > *{ 
    line-height:normal;
    font-family: 'Gordita-Regular';
    color:#fff;
  }
  .mobile-sticky-bar .sticky-bar__info .sticky-bar__title.p {
      font-size: 18px;
      margin-bottom: 5px;
  }
  .mobile-sticky-bar .sticky-bar__info,
  .mobile-sticky-bar .sticky-bar__info .sticky-bar__price {
    display: flex;
    flex-direction: column;
}
  @media screen and (min-width: 768px) {
    .mobile-sticky-bar {
      display: none !important;
    }
  }
</style>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const stickyBar = document.querySelector(".mobile-sticky-bar");
  const stickyBtn = document.querySelector(".sticky-bar__button");
  const submitBtn = document.querySelector(".product-form .product-form__submit");

  if (!stickyBar || !stickyBtn || !submitBtn) return;

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          stickyBar.classList.remove("visible");
        } else {
          stickyBar.classList.add("visible");
        }
      });
    },
    { threshold: 0 }
  );

  observer.observe(submitBtn);

  stickyBtn.addEventListener("click", () => {
    submitBtn.click();
  });
});
</script>

