{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="luvo-works-section section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="page-width">
  <div class="luvo-works-container">

    <div class="luvo-works-heading-area">
    {% if section.settings.section_heading != blank %}
      <h2 class="h2 luvo-works-heading">{{ section.settings.section_heading }}</h2>
    {% endif %}

    {% if section.settings.section_subtext != blank %}
      <p class="luvo-works-subtext">{{ section.settings.section_subtext }}</p>
    {% endif %}
    </div>

    <!-- Tabs -->
    <div class="luvo-works-tabs">
      {% for block in section.blocks %}
        <button 
          class="luvo-works-tab {% if forloop.first %}active{% endif %}" 
          data-tab="tab-{{ forloop.index }}">
          {{ forloop.index | prepend: '0' }}. {{ block.settings.tab_title }}
        </button>
      {% endfor %}
    </div>

    <!-- Tab Content -->
    <div class="luvo-works-contents">
      {% for block in section.blocks %}
        <div id="tab-{{ forloop.index }}" class="luvo-works-content {% if forloop.first %}active{% endif %}">
          <div class="luvo-works-step-text">
            {% if block.settings.block_heading_one != blank %}
              <h3>{{ block.settings.block_heading_one }}</h3>
            {% endif %}
            {% if block.settings.block_subtext_one != blank %}
              <p>{{ block.settings.block_subtext_one }}</p>
            {% endif %}
            {% if block.settings.block_heading_two != blank %}
              <h3>{{ block.settings.block_heading_two }}</h3>
            {% endif %}
            {% if block.settings.block_subtext_two != blank %}
              <p>{{ block.settings.block_subtext_two }}</p>
            {% endif %}
            {% if block.settings.block_heading_three != blank %}
              <h3>{{ block.settings.block_heading_three }}</h3>
            {% endif %}
            {% if block.settings.block_subtext_three != blank %}
              <p>{{ block.settings.block_subtext_three }}</p>
            {% endif %}
          </div>

          <div class="luvo-works-step-media">
            {% if block.settings.block_image != blank %}
              <img src="{{ block.settings.block_image | img_url: '800x' }}" alt="{{ block.settings.tab_title }}">
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  </div>
</section>

{% schema %}
{
  "name": "Custom Luvo Works",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Schema",
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "How Luvo Works"
    },
    {
      "type": "textarea",
      "id": "section_subtext",
      "label": "Section Subtext",
      "default": "Luvo combines cutting-edge sensors, seamless connectivity, and AI-powered insights—so you can focus on living, while it takes care of the tracking."
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "step",
      "name": "Step Block",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab Title",
          "default": "Wear the Ring"
        },
        {
          "type": "text",
          "id": "block_heading_one",
          "label": "Heading",
          "default": "What Happens"
        },
        {
          "type": "textarea",
          "id": "block_subtext_one",
          "label": "Subtext",
          "default": "Simply slip Luvo on your finger..."
        },
        {
          "type": "text",
          "id": "block_heading_two",
          "label": "Heading",
          "default": "What Happens"
        },
        {
          "type": "textarea",
          "id": "block_subtext_two",
          "label": "Subtext",
          "default": "Simply slip Luvo on your finger..."
        },
        {
          "type": "text",
          "id": "block_heading_three",
          "label": "Heading",
          "default": "What Happens"
        },
        {
          "type": "textarea",
          "id": "block_subtext_three",
          "label": "Subtext",
          "default": "Simply slip Luvo on your finger..."
        },
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Fallback Image"
        }
      ]
    }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "Custom Luvo Works",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<style>
.luvo-works-container {
  text-align: center;
} 
.luvo-works-section .luvo-works-container .luvo-works-heading-area {
    max-width: 610px;
    margin: 0 auto;
    padding-bottom: 54px;
}
.luvo-works-section .luvo-works-container .luvo-works-heading-area h2 {
    font-family: 'Gordita-Bold';
    line-height: 120%;
    margin: 0;
}
.luvo-works-section .luvo-works-container .luvo-works-heading-area p {
    font-family: 'Gordita-Regular';
    line-height: 120%;
    text-align: center;
    margin: 0;
}
.luvo-works-tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 34px;
}
.luvo-works-tab {
  background: transparent;
  font-size: 16px;
  font-family: 'Gordita-Semibold';
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: #AAAAAA;
  cursor: pointer;
  transition: 0.8s;
}
.luvo-works-tab.active {
  background: #000;
  color: #fff;
}
.luvo-works-contents {
  position: relative;
}
.luvo-works-content {
  display: none;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 16px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease;
}
.luvo-works-content {
    border: 1px solid #1C1C1C;
    padding: 8px;
    border-radius: 34px;
}
.luvo-works-content.active {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}
.luvo-works-step-text {
  text-align: left;
}
.luvo-works-step-text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.luvo-works-step-text p {
  font-size: 14px;
  color: #ddd;
}
.luvo-works-step-media img,
.luvo-works-step-media video {
  max-width: 100%;
  border-radius: 10px;
}

/* Slide animations */
.slide-in-up {
  animation: slideUp 0.5s ease forwards;
}
.slide-in-down {
  animation: slideDown 0.5s ease forwards;
}
@keyframes slideUp {
  from { opacity: 0; transform: translateY(50px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes slideDown {
  from { opacity: 0; transform: translateY(-50px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Mobile responsive */
@media(max-width:768px){
  .luvo-works-content {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .luvo-works-step-text {
    text-align: center;
  }
}
</style>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const tabs = document.querySelectorAll(".luvo-works-tab");
  const contents = document.querySelectorAll(".luvo-works-content");
  let currentIndex = 0; // by default first tab active

  tabs.forEach((tab, index) => {
    tab.addEventListener("click", function() {
      if (index === currentIndex) return; // same tab clicked

      let targetId = this.getAttribute("data-tab");
      let targetContent = document.getElementById(targetId);

      // remove active + animation classes
      tabs.forEach(t => t.classList.remove("active"));
      contents.forEach(c => {
        c.classList.remove("active", "slide-in-up", "slide-in-down");
      });

      // set new tab active
      this.classList.add("active");

      // direction check
      if (index > currentIndex) {
        targetContent.classList.add("slide-in-up");
      } else {
        targetContent.classList.add("slide-in-down");
      }

      // finally show content
      targetContent.classList.add("active");

      // update currentIndex
      currentIndex = index;
    });
  });
});
</script>
