<section class="color-{{ section.settings.color_scheme }} video-hero">
  <div class="video-hero__bg">
    {% if section.settings.bg_video != blank %}
      {{
        section.settings.bg_video
        | video_tag: autoplay: true, loop: true, muted: true, playsinline: true, class: 'video-hero__video'
      }}
    {% endif %}
  </div>

  <div class="page-widthh">
    <div class="video-hero__content">
      <div class="video-text-area">
        {% if section.settings.heading != blank %}
          <h1 class="video-hero__heading">{{ section.settings.heading }}</h1>
        {% endif %}
        {% if section.settings.subtext != blank %}
          <h6 class="video-hero__subtext">{{ section.settings.subtext }}</h6>
        {% endif %}
        {% if section.settings.btn_text != blank %}
          <a href="{{ section.settings.btn_link }}" class="button">
            {{ section.settings.btn_text }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<style>
  .video-hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    color: #fff;
  }
  .video-hero .video-hero__video {
    width: 100%;
    height: 100dvh;
    object-fit: cover;
  }
  .video-hero .video-hero__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: max((calc(100% - 1130px) / 2), 50px);
  }
  .video-hero .video-text-area {
    text-align: left;
    max-width: 445px;
  }
  .video-hero .video-hero__heading {
    font-family: 'Gordita-Bold';
    font-size: 54px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: 0;
    margin: 0;
  }
  .video-hero .video-hero__subtext {
    font-family: 'Gordita-Medium';
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0;
    margin: 8px 0 42px;
  }
  .video-hero .video-hero__content .button {
    border-radius: 100px;
  }
  .video-hero .video-hero__content .button:after {
    display: none;
  }
  /* Mobile Responsive */
  @media screen and (max-width: 768px) {
    .video-hero .video-hero__heading {
      font-size: 26px;
    }
    .video-hero .video-hero__subtext {
      font-size: 14px;
    }
  }
</style>

{% schema %}
{
  "name": "Custom Video Banner",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Schema"
    },
    {
      "type": "video",
      "id": "bg_video",
      "label": "Background Video"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Luvo The Future on Your Finger"
    },
    {
      "type": "textarea",
      "id": "subtext",
      "label": "Subtext",
      "default": "Experience the perfect blend of technology and elegance. Track health, stay connected, and express your style all with one smart ring."
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "Discover Luvo Ring II"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link",
      "default": "/collections/all"
    }
  ],
  "presets": [
    {
      "name": "Custom Video Banner"
    }
  ]
}
{% endschema %}
